
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
<div id="nav">
        <section id="nav_options">
            <a href="https://infosecmentors.net">About</a>
	    <a href="https://infosecmentors.net/user/1">Browse</a>
           <a href="/blog">Blog</a>
            
        </section>
    </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		
			</footer>
		</body>
	</html>
