
<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
<div id="nav">
        <section id="nav_options">
            <a href="/about">About</a>
            <a href="/user/1">Browse</a></li>
            
                <a href="/user_settings">Settings</a>
                <a href="/logout">Logout</a>
            
        </section>
    </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:no-reply@infosecmentors.net">email</a></li>
				</ul>
			</footer>
		</body>
	</html>
